.Acceuil{
    margin-left: 200px;
    margin-right: 200px;
}

p, ul, h3{
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    color:dimgrey;
    text-align: justify;
}
img{
    margin-top: 30px;
    height: 300px;
    width: 100%;
}
h3{
    color: maroon;
}